{% load static %}
{% load custom_tags %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link" target="_blank">
        <img src="{% static 'images/icon.png' %}" class="brand-image"/>
        <span class="brand-text" style="color:#F78319;">Management</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'images/usericon.png' %}" class="img-circle elevation-2"
                     style="height: 33.6px; object-fit: cover;"
                     alt="User Image">
            </div>
            <div class="info">
                <a href="javascript: void(0);" class="d-block">{{ request.session.loggedInUser.full_name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <!-- Dashboard -->
                <li class="nav-item">
                    <a href="{% url 'adminHome' %}"
                       class="nav-link {% if request.session.menu == 'Home' %}active{% endif %}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'adminUserList' %}"
                       class="nav-link {% if request.session.menu == 'User' %}active{% endif %}">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Users
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'adminGroupList' %}"
                       class="nav-link {% if request.session.menu == 'Group' %}active{% endif %}">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Groups
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'adminContentList' %}"
                       class="nav-link {% if request.session.menu == 'Content' %}active{% endif %}">
                        <i class="nav-icon fas fa-gear"></i>
                        <p>
                            Content
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'adminCategoryList' %}"
                       class="nav-link {% if request.session.menu == 'Category' %}active{% endif %}">
                        <i class="nav-icon fas fa-gear"></i>
                        <p>
                            Category
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'adminBlogList' %}"
                       class="nav-link {% if request.session.menu == 'Blog' %}active{% endif %}">
                        <i class="nav-icon fas fa-gear"></i>
                        <p>
                            Blog
                        </p>
                    </a>
                </li>
                {% has_permission 'auth.add_permission,auth.change_permission' request.session.permissions as settings_allowed %}
                {% if settings_allowed %}
                    <li class="nav-item">
                        <a href="{% url 'adminSettings' %}"
                           class="nav-link {% if request.session.menu == 'Settings' %}active{% endif %}">
                            <i class="nav-icon fas fa-gear"></i>
                            <p>
                                Settings
                            </p>
                        </a>
                    </li>
                {% endif %}


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>