<?= $this->extend('Admin/admin_layout') ?>
<?= $this->section('content') ?>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1><?php echo !empty($group['id']) ? 'Edit' : 'Add'; ?> Group</h1>
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 pull-left">
                    <div class="row breadcrumb ">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="<?php echo base_url(route_to('admin_dashboard')); ?>">Home</a>
                            </li>
                            <li class="breadcrumb-item active"><?php echo !empty($group['id']) ? 'Edit' : 'Add'; ?>
                                Group
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row float-sm-right">
                        <a href="<?php echo base_url(route_to('list_groups')); ?>" class="btn btn-default"><i
                                    class="fa fa-angle-left"></i> Back</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Main content -->
    <section class="content">
        <form action="<?php echo $form_action; ?>" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <div class="row">
                <?= csrf_field() ?>
                <input type="hidden" id="inputId" name="id" class="form-control" value="<?= $group['id'] ?>">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputTitle">Title</label>
                                <input type="text" id="inputTitle" name="title" class="form-control"
                                       value="<?= $group['title'] ?>">
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input" value="1" name="homepage"
                                           id="homepage" <?php echo $group['homepage'] == 1 ? 'checked' : ''; ?>>
                                    <label class="custom-control-label" for="homepage">Display in homepage</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input" value="1" name="status"
                                           id="status" <?php echo !isset($group['status']) || $group['status'] == 1 ? 'checked' : ''; ?>>
                                    <label class="custom-control-label" for="status">Published</label>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6"></div>

            </div>

            <div class="pb-5">
                <a href="<?php echo base_url(route_to('list_groups')); ?>" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-success"><?php echo !empty($group['id']) ? 'Edit' : 'Add'; ?>
                    Group
                </button>
            </div>
        </form>
    </section>
    <!-- /.content -->
<?= $this->endSection() ?>