{% extends "admin/admin_layout.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% if postData.id.value %}
                Edit User
            {% else %}
                Add User
            {% endif %}
        </h1>
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 pull-left">
                    <div class="row breadcrumb ">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url "adminHome" %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active">
                                {% if postData.id.value %}
                                    Edit User
                                {% else %}
                                    Add User
                                {% endif %}
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row float-sm-right">
                        <a href="{% url 'adminUserList' %}" class="btn btn-default"><i
                                class="fa fa-angle-left"></i> Back</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="help-block">
            {#            <?php $validation = \Config\Services::validation();#}
            {#             echo ($validation->listErrors()) ?: ''; ?>#}
        </div>

        <form method="post" accept-charset="utf-8"
              enctype="multipart/form-data">
            <div class="row">
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="hidden" id="id" name="id" class="form-control"
                                       value="{{ postData.id.value }}">
                                <input type="text" id="first_name" name="first_name"
                                       class="form-control {% if postData.first_name.error %}is-invalid{% endif %}"
                                       value="{{ postData.first_name.value }}">
                                {% if postData.first_name.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.first_name.error }}
                                    </div>
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" id="last_name" name="last_name"
                                       class="form-control {% if postData.last_name.error %}is-invalid{% endif %}"
                                       value="{{ postData.last_name.value }}">
                                {% if postData.last_name.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.last_name.error }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select id="gender" name="gender" class="form-control">
                                    <option {% ifequal postData.gender.value "Male" %} selected{% endifequal %}>Male
                                    </option>
                                    <option {% ifequal postData.gender.value "Female" %} selected{% endifequal %}>Female
                                    </option>
                                    <option {% ifequal postData.gender.value "Others" %} selected{% endifequal %}>Others
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="number" id="phone" name="phone"
                                       class="form-control {% if postData.phone.error %}is-invalid{% endif %}"
                                       value="{{ postData.phone.value }}">
                                {% if postData.phone.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.phone.error }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="dob">Date</label>
                                <input class="form-control {% if postData.dob.error %}is-invalid{% endif %}" name="dob"
                                       type="date" value="{{ postData.dob.value }}"
                                       id="dob">
                                {% if postData.dob.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.dob.error }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input class="form-control {% if postData.address.error %}is-invalid{% endif %} {% if postData.address.error %}is-invalid{% endif %}"
                                       name="address" type="address"
                                       value="{% if postData.address.value != None %}{{ postData.address.value }}{% endif %}"
                                       id="address">

                                {% if postData.address.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.address.error }}
                                    </div>
                                {% endif %}
                                <input type="hidden" id="lat" name="lat" value="{{ postData.lat.value }}"
                                       placeholder="Latitude">
                                {% if postData.lat.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.lat.error }}
                                    </div>
                                {% endif %}

                                <input type="hidden" id="lng" name="lng" value="{{ postData.lng.value }}"
                                       placeholder="Longitude">
                                <div id="map" style="height: 400px;width: 100%;"></div>
                            </div>
                            {% if postData.lng.error %}
                                <div class="invalid-feedback">
                                    {{ postData.lng.error }}
                                </div>
                            {% endif %}
                            <div class="form-group">

                                <div class="custom-file">
                                    <input type="file" id="image" name="image" class="custom-file-input"
                                           accept=".png, .jpg, .jpeg">
                                    <label for="image" class="custom-file-label">Choose Image</label>
                                </div>
                                <div class="spinner-border text-primary imageuploadspinner" role="status"
                                     style="display: none">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="p-1 newprofileimage" style="display: none">
                                    <img id="newprofileimagepreview" src="{% static 'images/icon.png' %}" class=""
                                         width="200"
                                         height="150"/>
                                    <button type="button" class="close" aria-label="Close" id="removeUploadedPhoto">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <input type="hidden" name="profile_image" id="profile_image"
                                       value="{{ postData.profile_image.value }}">
                                <input id="profile_image_path" type="hidden"
                                       value="{{ postData.profile_image.value }}" readonly>
                                {% if postData.profile_image.value %}
                                    <div class="p-1 savedprofileimage">
                                        <img id="preview" src="{{ MEDIA_URL }}{{ postData.profile_image.value }}"
                                             class=""
                                             width="200"
                                             height="150"/>
                                    </div>
                                {% else %}

                                {% endif %}

                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Account</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email"
                                       class="form-control {% if postData.email.error %}is-invalid{% endif %}"
                                        {% if postData.id.value and not postData.email.error %} readonly{% endif %}
                                       value="{{ postData.email.value }}">
                                {% if postData.email.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.email.error }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="test" id="username" name="username"
                                       class="form-control {% if postData.username.error %}is-invalid{% endif %}"
                                       value="{{ postData.username.value }}">
                                {% if postData.username.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.username.error }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password"
                                       class="form-control {% if postData.password.error %}is-invalid{% endif %}"
                                >
                                {% if postData.password.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.password.error }}
                                    </div>
                                {% endif %}
                            </div>

                            {% if request.session.loggedInUser.is_superuser %}
                                <div class="form-group">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input type="checkbox" class="custom-control-input"
                                               value="{% if postData.is_superuser.value %} 1 {% else %} 0{% endif %}"
                                               name="is_superuser_chkbox"
                                               id="is_superuser_chkbox" {% if postData.is_superuser.value %}
                                               checked{% endif %}>
                                        <label class="custom-control-label" for="is_superuser_chkbox">Is
                                            Superuser</label>
                                        <input type="hidden" id="is_superuser" name="is_superuser"
                                               value="{{ postData.is_superuser.value }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input type="checkbox" class="custom-control-input"
                                               value="{% if postData.is_staff.value %} 1 {% else %} 0{% endif %}"
                                               name="is_staff_chkbox"
                                               id="is_staff_chkbox" {% if postData.is_staff.value %} checked{% endif %}>
                                        <label class="custom-control-label" for="is_staff_chkbox">Is Staff</label>
                                        <input type="hidden" id="is_staff" name="is_staff"
                                               value="{{ postData.is_staff.value }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input type="checkbox" class="custom-control-input"
                                               name="is_active_chkbox"
                                               value="{% if postData.is_active.value %} 1 {% else %} 0{% endif %}"
                                               id="is_active_chkbox" {% if postData.is_active.value %}
                                               checked{% endif %}>
                                        <label class="custom-control-label" for="is_active_chkbox">Is Active</label>
                                        <input type="hidden" id="is_active" name="is_active"
                                               value="{{ postData.is_active.value }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input type="checkbox" class="custom-control-input"
                                               name="phone_activated_chkbox"
                                               value="{% if postData.phone_activated.value %} 1 {% else %} 0{% endif %}"
                                               id="phone_activated_chkbox" {% if postData.phone_activated.value %}
                                               checked{% endif %}>
                                        <label class="custom-control-label" for="phone_activated_chkbox">Phone
                                            Verified</label>
                                        <input type="hidden" id="phone_activated" name="phone_activated"
                                               value="{{ postData.phone_activated.value }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input type="checkbox" class="custom-control-input"
                                               name="sendEmail_chkbox"
                                               value="{% if postData.sendEmail.value %} 1 {% else %} 0{% endif %}"
                                               id="sendEmail_chkbox" {% if postData.sendEmail.value %}
                                               checked{% endif %}>
                                        <label class="custom-control-label" for="sendEmail_chkbox">Send Emails</label>
                                        <input type="hidden" id="sendEmail" name="sendEmail"
                                               value="{{ postData.sendEmail.value }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input type="checkbox" class="custom-control-input"
                                               value="{% if postData.sendSMS.value %} 1 {% else %} 0{% endif %}"
                                               name="sendSMS_chkbox"
                                               id="sendSMS_chkbox" {% if postData.sendSMS.value %} checked{% endif %}>
                                        <label class="custom-control-label" for="sendSMS_chkbox">Send SMS</label>
                                        <input type="hidden" id="sendSMS" name="sendSMS"
                                               value="{{ postData.sendSMS.value }}">

                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!-- /.card -->


                </div>
                {% if user_groups and request.session.loggedInUser.is_superuser %}
                    <div class="col-md-12">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">User Groups</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                {{ user_groups }}
                            </div>
                        </div>
                    </div>
                    {% if postData.user_groups.error %}
                        <div class="invalid-feedback">
                            {{ postData.user_groups.error }}
                        </div>
                    {% endif %}
                {% endif %}
                {% if user_permissions and request.session.loggedInUser.is_superuser %}
                    <div class="col-md-12">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">User Permissions</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                {{ user_permissions }}
                                <i> Note that user permissions will always override group permissions</i>
                            </div>

                        </div>

                    </div>
                    {% if postData.user_permissions.error %}
                        <div class="invalid-feedback">
                            {{ postData.user_permissions.error }}
                        </div>
                    {% endif %}

                {% endif %}
            </div>

            <div class="pb-5">
                {% if user_permissions %}
                    <a href="#" class="btn btn-danger pull-right deleteUser">Delete</a>
                {% endif %}
                <a href="{% url 'adminUserList' %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-success">{% if postData.id.value %}Update{% else %}Save{% endif %}
                </button>
            </div>
        </form>
        <form id="deleteForm">
            <input type="hidden" value="{{ postData.id.value }}" name="id">
            {% csrf_token %}
        </form>
    </section>
    <!-- /.content -->
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-duallistbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/duallist-plus.css' %}">
{% endblock %}
{% block script %}


    <script src="{% static 'js/addressPicker.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap-duallistbox.js' %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAftlPuppWtwjk-fBUQelgJmPtNFQ81_WA&libraries=places&callback=gMapInit"></script>

    <script>
        $(document).ready(function () {
            $('#id_groups').bootstrapDualListbox({
                nonSelectedListLabel: 'Non-selected',
                selectedListLabel: 'Selected',
                preserveSelectionOnMove: 'moved',
                moveOnSelect: false,
                moveAllLabel: 'Move all',
                removeAllLabel: 'Remove all',
                selectorMinimalHeight: 250

            });
            $('#id_user_permissions').bootstrapDualListbox({
                nonSelectedListLabel: 'Non-selected',
                selectedListLabel: 'Selected',
                preserveSelectionOnMove: 'moved',
                moveOnSelect: false,
                moveAllLabel: 'Move all',
                removeAllLabel: 'Remove all',
                selectorMinimalHeight: 250
            });
            removeInvalidClass();
            checkBoxControls();
            profileImageUpload();
            usernameAuto();
            deleteUser();
            removeUploadedPhoto();
        });

        function removeUploadedPhoto() {
            $('#removeUploadedPhoto').click(function () {
                var r = confirm("Are you sure?? The uploaded  image will be discarded.");
                if (r == true) {
                    $(".newprofileimage").hide(); // Display image element
                    $(".savedprofileimage").show();
                    $("#profile_image").val($("#profile_image_path").val()) // Display image element

                } else {

                }
            })
        }

        function profileImageUpload() {
            $("#image").change(function () {
                var fd = new FormData();
                var files = $('#image')[0].files;

                // Check file selected or not
                if (files.length > 0) {
                    $(".imageuploadspinner").show();
                    fd.append('file', files[0]);
                    fd.append('csrfmiddlewaretoken', '{{csrf_token}}');
                    fd.append('imagetype', 'userimages');
                    $.ajax({
                        url: '{% url 'imageUpload' %}',
                        type: 'post',
                        data: fd,
                        contentType: false,
                        processData: false,
                        success: function (response) {

                            if (response.result) {
                                $("#newprofileimagepreview").attr("src", {{ MEDIA_URL }}+response.data.saved_filename);
                                $(".newprofileimage").show(); // Display image element
                                $(".savedprofileimage").hide();
                                $(".imageuploadspinner").hide();
                                $(".preview img").show(); // Display image element
                                $("#profile_image").val(response.data.saved_filename); // Display image element

                            } else {
                                $(".imageuploadspinner").hide();
                                alert('There was in issue in uploading the image');
                            }
                        },
                    });
                } else {
                    alert("Please select a file.");
                }
            });

        }

        function deleteUser() {
            $('.deleteUser').on('click', function (e) {
                e.preventDefault();
                var r = confirm("Are you sure you want to delete this user!");
                if (r == true) {
                    let data = ($('#deleteForm').serializeArray());
                    if ({{ postData.id.value }} == 0
                )
                    {
                        return
                    }
                    $.ajax({
                        url: '{% url 'adminUserDelete' pk=postData.id.value %}',
                        data: data,
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("{% url 'adminUserList' %}")
                        },
                        error: function (err) {
                            location.reload();
                        },

                    });
                }
            })
        }

        function usernameAuto() {
            $('#email').on('change', function () {
                if ($('#username').val() == '') {
                    $('#username').val($('#email').val());
                }
            });
        }


        function removeInvalidClass() {
            $('input').on('focus', function () {
                var id = this.id;
                $('#' + id).removeClass('is-invalid');
            });
        }

        function checkBoxControls() {
            $('input[type=checkbox]').on('change', function () {
                var id = this.id;
                var inputid = id.replace('_chkbox', '')
                var prevState = $('#' + id).val();
                console.log(prevState)
                $('#' + id).val((prevState == 1) ? 0 : 1);
                $('#' + inputid).val((prevState == 1) ? 'False' : 'True');
                {#$('#' + id).prop('checked', (prevState == 1) ? false : true);#}
            });
        }

        function gMapInit() {
            new addressPicker({
                'lat':{{postData.lat.value}},
                'lng':{{ postData.lng.value }},
                'mapid': 'map',
                'latid': 'lat',
                'lngid': 'lng',
                'addressid': 'address',
                'allowMarkerDrag': true
            });
        }

    </script>
{% endblock %}
