<?= $this->extend($layout) ?>
<?= $this->section('content') ?>
<?php
$btnClass = 'theme';
$link = '/';
if (strpos($layout, 'admin_layout') !== false) {
    $btnClass = 'primary';
    $link = '/admin/';
}
switch ($type) {
    case 'security':
        $title = 'You are not authorized!';
        $detail = 'You are not authorized to perform the action. Please login with authorized credentials.';
        break;
    case 'empty':
        $title = 'Nothing found!';
        $detail = 'The record you are looking is not found.';
        break;
    default:
        $title = 'Oops! Page Not Found';
        $detail = 'Page you are looking for is not found. Please go to home page.';
        break;
} ?>
    <div class="container exception-container">
        <div class="">
            <img src="<?php echo base_url('assets/media/exception/' . $type . '.svg'); ?>">
            <h2><?php echo $title; ?></h2>
            <p><?php echo $detail; ?></p>
            <a href="<?php echo base_url($link); ?>" class="btn btn-<?php echo $btnClass;?>">
                Go to Home page
            </a>
        </div>
    </div>
<?= $this->endSection() ?>

{% extends "admin/admin_layout.html" %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Content</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a
                                href="{% url 'adminHome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Content</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                            <div class="container exception-container">
        <div class="">
            <img src="<?php echo base_url('assets/media/exception/' . $type . '.svg'); ?>">
            <h2><?php echo $title; ?></h2>
            <p><?php echo $detail; ?></p>
            <a href="<?php echo base_url($link); ?>" class="btn btn-<?php echo $btnClass;?>">
                Go to Home page
            </a>
        </div>
    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script type="text/javascript">

    </script>
{% endblock %}


