{% extends 'blog/base_template.html' %}
{% load static %}
{% block content %}



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <nav aria-label="breadcrumb" class="breadcrumbstyle">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                        {% if searchkeyword %}
                            <li class="breadcrumb-item">Search keyword</li>
                            <li class="breadcrumb-item">{{ searchkeyword }}</li>
                        {% endif %}
                        {% ifnotequal category_id 0 %}
                            <li class="breadcrumb-item active" aria-current="page">{{ category_name }}</li>
                        {% endifnotequal %}
                    </ol>
                </nav>
                <div class="row">
                    {% for blog in page_obj %}
                        <div class="col-md-6">

                            <div class="articlelist">
                                <a class="nav-link"
                                   href="{% url 'getBlog' slug=blog.alias %}">
                                    <img class="imglist" width="1000" height="400"
                                         src="{{ MEDIA_URL }}{{ blog.displayphoto_options.medium }}">

                                    {#                                        <img class="imglist" src="{{ blog.displayphoto.url }}">#}
                                    <h3>{{ blog.title }}</h3>
                                    <div class="content articleIntroText">{{ blog.introtext }}</div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% if page_obj|length == 0 %}
                        <div class="noArticleText">
                            No articles in this category
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="col-md-3">
                {% include 'blog/topnews.html' %}
                {% include 'blog/recommended.html' %}
                {% include 'blog/explore.html' %}
            </div>
        </div>


        {% include 'blog/paginator.html' %}
    </div>
    <br>

{% endblock content %}