{% extends 'blog/base_template.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid">

        <div class="row">
            <div class="col-md-9">
                <nav aria-label="breadcrumb" class="breadcrumbstyle">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                        <li class="breadcrumb-item"><a
                                href="{% url "blogsByCategory" slug=category_slug %}">{{ blog.cat_id }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ blog.title }}</li>
                    </ol>
                </nav>
                <div class="article">
                    <h3 class="articletitle">{{ blog.title }} </h3>
                    {% if blog.displayphoto %}
                        <img class="imglist" src="{{ blog.displayphoto.url }}">
                    {% else %}
                        <img class="imglist" src="{% static 'media/static/blog/images.png' %}">
                    {% endif %}
                    {{ blog.fulltext|safe }}


                </div>
                {% if blog.tags %}

                    <span class="badge badge-success">Related Tags</span>
                    {% for tag in blog.tags %}

                        <a href="{% url "blogsByTag" slug=tag %}">
                            <span class="badge badge-primary">{{ tag }}</span>
                        </a>
                    {% endfor % %}
                {% endif %}
            </div>
            <div class="col-md-3">
                {% include 'blog/recommended.html' %}
                {% include 'blog/explore.html' %}
            </div>
        </div>
    </div>

{% endblock content %}