{% extends "admin/admin_layout.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>

                Settings
        </h1>
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 pull-left">
                    <div class="row breadcrumb ">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url "adminHome" %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Settings
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row float-sm-right">
                        <a href="{% url 'adminHome' %}" class="btn btn-default"><i
                                class="fa fa-angle-left"></i> Back</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="help-block">
            {#            <?php $validation = \Config\Services::validation();#}
            {#             echo ($validation->listErrors()) ?: ''; ?>#}
        </div>

        <form action="{% url 'adminSettings' %}" method="post" accept-charset="utf-8"
              enctype="multipart/form-data">
            <div class="row">
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Settings</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="page_limit">Name</label>
                                <input type="hidden" id="id" name="id" class="form-control"
                                       value="{{ postData.id.value }}">
                                <input type="number" id="page_limit" name="page_limit"
                                       class="form-control {% if postData.page_limit.error %}is-invalid{% endif %}"
                                       value="{{ postData.page_limit.value }}">
                                {% if postData.page_limit.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.page_limit.error }}
                                    </div>
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <label for="google_maps_api_key">Google Maps Api Key</label>
                                <input type="hidden" id="id" name="id" class="form-control"
                                       value="{{ postData.google_maps_api_key.value }}">
                                <input type="text" id="google_maps_api_key" name="google_maps_api_key"
                                       class="form-control {% if postData.google_maps_api_key.error %}is-invalid{% endif %}"
                                       value="{{ postData.google_maps_api_key.value }}">
                                {% if postData.google_maps_api_key.error %}
                                    <div class="invalid-feedback">
                                        {{ postData.google_maps_api_key.error }}
                                    </div>
                                {% endif %}

                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>


            </div>

            <div class="pb-5">
                <a href="{% url 'adminHome' %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-success">{% if postData.id.value %}Update{% else %}Save{% endif %}
                </button>

            </div>
        </form>
    </section>
    <!-- /.content -->
{% endblock %}
{% block styles %}

{% endblock %}
{% block script %}
    <script>

        $(document).ready(function () {


        });

    </script>
{% endblock %}
